{% extends 'base.html.twig' %}

{% block title %}Camisetas - CamiFut{% endblock %}

{% block body %}
    
    <section class="search-section">
        <div class="container">
            <form action="{{ path('buscar') }}" method="get" class="search-form">
                <input type="text" name="searchTerm" placeholder="Buscar camiseta" class="form-control search-input">
                <button type="submit" class="btn btn-primary-camifut">Buscar</button>
            </form>
        </div>
    </section>

    <main class="container my-5">
        
        <div class="products-grid">
            {% for producto in camisetas %}
                <article class="product-card">
                    <a href="{{ path('camiseta', {'equipo': producto.equipo}) }}" class="product-link">
                        <div class="card-image-container">
                            <img src="{{ asset('img/' ~ (producto.categoria ? producto.categoria.nombre ~ '/' : '') ~ producto.imagen) }}" alt="{{ producto.equipo }}">
                        </div>
                        <div class="card-info">
                            <h3>{{ producto.equipo }}</h3>
                            <div class="price-tag">{{ producto.precio }}</div>
                            <button class="btn-buy">Veure Detalls</button>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    </main>
{% endblock %}